<div id="loginModal" class="reveal-modal" data-reveal>
  <center><h2>Login</h2></center>
  <form action="/login" method="post"> <!-- form starts here.. -->
        <div class="row">
          <div class="small-12 medium-4 small-centered columns">
              <input type="text" name="session[email]" placeholder="Email">
            </label>
          </div>
        </div>

        <div class="row">
          <div class="small-12 medium-4 small-centered columns">
              <input type="text" name="session[password]" placeholder="Password">
            </label>
          </div>
        </div>
        
        <div class="row">
          <div class="small-12 medium-4 small-centered columns">
            <input class="button"type="submit" name="submit" value="Login">
          </div>
        </div>
        
  </form>
</div>
