<div id="registerModal" class="reveal-modal" data-reveal>
  <form action="/users" method="post"> <!-- form starts here.. -->
    <div class="row">
      <div class="small-12 medium-4 small-centered columns">
        <label>Enter your First Name:
          <input type="text" name="user[first_name]" placeholder="First Name" />
        </label>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-4 small-centered columns">
        <label>Enter your Last Name:
          <input type="text" name="user[last_name]" placeholder="Last Name" />
        </label>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-4 small-centered columns">
        <label>Enter your email:
          <input type="text" name="user[email]" placeholder="youremail@example.com">
        </label>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-4 small-centered columns">
        <label>Enter your password:
          <input type="text" name="user[password]" placeholder="Password">
        </label>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-4 small-centered columns">
        <label>Confirm your password:
          <input type="text" name="user[password_confirmation]" placeholder="Password confirmation">
        </label>
      </div>
    </div>
    
    <div class="row">
      <div class="small-12 medium-4 small-centered columns">
        <input type="submit" name="submit" value="Create Account">
      </div>
    </div>
  </form>
</div>
