      <!-- this is the html for the login form -->
      <div class="row">
        <div class="small-12 small-centered columns">
          <h1>Login Below</h1>
        </div>
      </div>
      <form action="/login" method="post"> <!-- form starts here.. -->
        <div class="row">
          <div class="small-12 medium-4 small-centered columns">
            <label>Enter email:
              <input type="text" name="session[email]" placeholder="Email">
            </label>
          </div>
        </div>

        <div class="row">
          <div class="small-12 medium-4 small-centered columns">
            <label>Enter password:
              <input type="text" name="session[password]" placeholder="Password">
            </label>
          </div>
        </div>
        
        <div class="row">
          <div class="small-12 medium-4 small-centered columns">
            <input type="submit" name="submit" value="Login">
          </div>
        </div>
        
      </form>