var auctionId = "<%=@bid.auction.id%>";
$("#bid_form_auction_"+ auctionId).remove();
$("#card_" + auctionId + " .back center").append("<div class='bottom button small winning-bid'><span>Highest Bidder</span></div>");