<%= render partial: "layouts/navigation" %>
<style>
	.nty-n-bottles-tile img{
		height: 200px;
		display: block;
		marign: 0 auto;
	}
	.nty-n-bottles-tile h3{
		font-size: 1.2rem;
	}
</style>
<div class="row">
	<div class="small-12 columns">
		<ul class="auction-tiles small-block-grid-1 medium-block-grip-3 large-block-grid-4">
		<% @auctions.each do |auction| %>
			<li>
				<div class="row panel nty-n-bottles-tile">

					<div class="small-12 columns">
						<h3> <%= auction.product.name %> </h3>
					</div>
					<div class="small-12 columns"> 
						<img src="<%=auction.product.image_link%>" alt=""> <!-- add dat image hurrrrrrrrrrr -->
					</div>
					<div class="small-12 columns">
						<h3> <%= auction.minimum_price %> </h3>
					</div>

				</div>
			</li>
		<% end %>
		</ul>
	</div>
</div>