<%= render partial: "layouts/navigation" %>
<%= render partial: "sessions/login" %>
<%= render partial: "sessions/register" %>

	<div class="background-image bg-image-darkbeer">
		<div class="darken"></div>
		<div class="welcome-text">
			<h1>Luxury beer at your fingertips</h1>
		</div>
	</div>
	
	<section class="meet-founders">
		<div class="center"><h2>Meet the Founders</h2></div>
		<div class="row">
			<div class="small-4 columns">	
				<div class="founder-card">
					<div class="card-content center">
						<img class="card-image" src="http://i.imgur.com/cSXV03p.jpg?1" alt="">
					</div>
				</div>
			</div>	
			<div class="small-4 columns">	
				<div class="founder-card">
					<div class="card-content center">
						<img class="card-image" src="http://i.imgur.com/7q4EyN2.jpg" alt="">
					</div>
				</div>
			</div>	
			<div class="small-4 columns">	
				<div class="founder-card">
					<div class="card-content center">
						<img class="card-image" src="http://i.imgur.com/c7u8ohu.jpg" alt="">
					</div>
				</div>
			</div>			
		</div>	
	</section>
	
	<section class="how-it-works">
	
	</section>