<%= render partial: "layouts/navigation" %>
<%= render partial: "sessions/login" %>
<%= render partial: "sessions/register" %>

	<div class="background-image bg-image-darkbeer">
		<div class="darken"></div>
		<div class="welcome-text">
			<h1>Luxury beer at your fingertips</h1>
		</div>
	</div>
	<section class="how-it-works">
				
	</section>
	<section class="meet-founders">
				
	</section>