<%= render partial: "layouts/navigation" %>
<div class="background-image bg-image-darkbeer">
	<!-- <img class="splash_image" src="http://i.imgur.com/YxACZUU.jpg?1" alt=""> -->
	<div class="welcome-text">
		<h1>Luxury beer, at your fingertips</h1>
	</div>

</div>