/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */
/*body {
	background-color: #FFEB4D;
}


.rows{
	color: #722302;
}
.panel{
	border: none;
	background: #fff;
	border-radius: 10px;
	margin: 0 100px;
}
.panel:hover{
	border: 2px solid #FA8C11;
	z-index: 999;
}
.top-bar{
	border: none;
	background: #FA8C11;
}
section.top-bar-section > ul.right,
section.top-bar-section > ul.right > li,
section.top-bar-section > ul.right > li > a{
	background: #FA8C11 !important;
}
section.top-bar-section > ul.right > li:hover,
section.top-bar-section > ul.right > li > a:hover{
	color: #000;
}
ul.left > li.name a:hover{
	color: #FC710D;
}
.auction-tiles{
	margin: 0 auto;
}

.beer-card {
	margin-right: 0px;
}


.beer-tiles {
	margin-top: 25px;
	text-align: center;
}
.beer-img img{
	width: 120px;
	height: 200px;
	display: inline-block;
}
.beer-img p{
	margin-left: 25px;
	display: inline-block;
}
.center-my-text{ text-align: center; }
.beer-desc-single{
	float: left;
	padding: 50px 50px 50px 130px;
}
.beer-tiles > form > input[name='submit']{
	width: 180px;
	height: 50px;
	background: #1FB836;
	color: #fff;
	font-size: 1.1rem;
	font-weight: 300;
	border: none;
}

#button-place {
	width: 180px;
	height: 50px;
	background: #1FB836;
	color: #fff;
	font-size: 1.1rem;
	font-weight: 300;
	border: none;
}
.beer-tiles > form > input[name='submit']:hover{
	background: #000;
}
#button-place:hover{
	background: #000;
}
.auction-confirm-msg{
	background: #FFF700;
	text-align: center;	
	padding: 30px 0;
	border-radius: 20px;
}
.auction-confirm-msg h3{
	color: #FC950D;
	font-weight: bold;
	font-size: 2rem;
}

/*cart*/
/*.cart-img-bottle img{
	height: 100px;
}

.nty-n-cart-item{
	height: 150px;
	margin-top: 25px;
}
.nty-n-cart-item:hover{
	border: none;
}
.single-beer-shits{
	height: 510px;
	margin-top: 25px;
}
.single-beer-shits:hover{ border: none;}

.change-box-type {
	padding-right: 10px;
	padding-left: 10px;
	-webkit-box-sizing: border-box;
}*/



