.topmargin {
	margin-top: 10%;
}

div.panel {
	overflow: hidden;
}

.nty-n-bottles-tile img{
	height: 200px;
	display: block;
	margin: 0 auto;
}
.nty-n-bottles-tile h3{
	font-size: 1.2rem;
	margin: 0 auto;
	width: 180px;
}
.nty-n-bottles-tile {
	background-color: white !important;
	border: none !important;
	position: relative;
	top: -30px;
	max-height: 400px;
}
#beer-card {
	width: 300 !important;
}
/*.hide {
	display: none;
}*/