/** { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
*/
.background-image {
  height: 100%;
  width: 100%; 
}
.bg-image-darkbeer {
  position: relative;
  top: -3px; /* fix small line at top of image*/
  background-image: url(https://i.imgur.com/YxACZUU.jpg?1); 
  background-size: cover;
}
.welcome-text {
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-100%);
}
.welcome-text h1{ 
	color: white;
}
.darken {
    width:100%;
    height:100%;
    position: absolute;
    background-size: cover;
	background: rgba(0, 0, 0, 0.5);
}
.blur {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
   /* -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -ms-filter: blur(4px);
    -o-filter: blur(4px);
    filter: blur(4px);*/
}

/*  This is for meet the founders section */
.off-white {
  background: #F6F9FA;
}

.section-title {
  margin-top: 20px;
}
.meet-founders {
  position: relative;
  top: -6px;
  height: 500px;
  border-style: solid;
  border-width: 1px;
}
.center {
  display: table;
  margin: 0 auto;
}
.founder-card {
  background-color: white;
  height: 370px;
}

#faraaz{
  width: 300px !important;
}
.card-content {
  position: relative;
  top: 10px;
  width: 150px;
}
.card-content{
  margin-top: 10px;
}
.card-content h5{
  margin-top: 10px;
}
.card-image {
  border-radius: 50%;
}
.font-grey {
 color: #493024;
}
.font-1 {
  font-size: .9em;
}
.founder-card p {
  text-align: center;
  margin-top: 15px;
  width: 250px;
}


/* How it Works Section */
.how-it-works {
  position: relative;
  top: -6px;
  height: 500px;
  width: 100%;
}
.hiw-content {
  position: relative;
  top: 10px;
  width: 250px;
}
.hiw-content p {
  margin-top: 25%;
  margin-bottom: 10px;
  font-size: 1em;
}
.step-image {
  height: 150px;
  /*margin-top: 50%;*/
}