.background-image {
  height: 700px;
  width: 100%; 
}
.bg-image-darkbeer {
  position: relative;
  top: -3px; /* fix small line at top of image*/
  background-image: url(http://i.imgur.com/YxACZUU.jpg?1);
  background-size: cover;
}
.welcome-text {
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.welcome-text h1{
	font-family:; 
	color: white;
}