	<nav class="top-bar" data-topbar role="navigation">
	  <ul class="left">
	    <li class="name">
	      <h1><a href="/auctions">Home</a></h1>
	    </li>

	  <section class="top-bar-section">
	    <ul class="right">
		 <!--  <li class="divider"></li> -->
	      <li class=""><a href="/orders">Cart</a></li>
	     <!--  <li class="divider"></li> -->
	      <li class=""><a href="/signout">Logout</a></li>
		 <!--  <li class="divider"></li> -->
	    </ul>
	  </section>
	</nav>