<div class="row 99bottles-nav">
	<div class="small-12 columns">
		<ul>
			<li><a href="/auctions">Home</a></li>
			<li><a href="/orders">Cart</a></li> <!-- hide this when not applicable -->
			<li><a href="#">Contact</a></li>
			<li><a href="/signout">Logout</a></li> <!-- hide this when not applicable -->
		</ul>
	</div>
</div>