<div class="sticky">
	<nav class="top-bar" data-topbar role="navigation">
	  <ul class="left">
	    <li class="name">
	      <h1><a href="/">99 Bottles</a></h1>
	    </li>

	  <section class="top-bar-section">
	    <ul class="right">
		 <!--  <li class="divider"></li> -->
	     <% if session[:user_id] != nil %>
	      <li class=""><a href="/auctions">Auctions</a></li>
	      <li class=""><a href="/orders">Cart</a></li>
	      <li class=""><a href="/signout">Logout</a></li>
	     <% else %>
	      <li class=""><a href="/signup">Register</a></li>
	      <li class="login-btn"><a href="/login">Login</a></li>
	     <% end %>
		 <!--  <li class="divider"></li> -->
	    </ul>
	  </section>
	</nav>
</div>
